{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>base</title>
        
        <!-- Bootstrap CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <!-- favicon ico -->
        <link rel="shortcut icon" href="{% static "img/favicon.ico.png" %}">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body style="background-color: #f5f5f5;">
        <div style="padding-left: 160px; padding-right: 50px; max-width: 1200px; min-width: 700px;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            Brand
                        </a>
                    </div>
                    {% if request.session.login %}
                    <!-- <p class="navbar-text">Signed in as {{ request.session.login }}</p> -->
                    <p class="navbar-text">歡迎, {{ request.session.member }}(@{{ request.session.login }})</p>
                    <a href="/issues/new" type="button" class="btn btn-success navbar-btn navbar-right">新增案件</a>
                    <a href="/tags/new" type="button" class="btn btn-primary navbar-btn navbar-right">新增標籤</a>
                    <!-- <a href="/users" type="button" class="btn btn-warning navbar-btn navbar-right">Manage users</a> -->
                    <a href="/users" type="button" class="btn btn-warning navbar-btn navbar-right">設定使用者</a>
                    <!-- <a href="/logout" type="button" class="btn btn-danger navbar-btn navbar-right">Log out!</a> -->
                    <a href="/logout" type="button" class="btn btn-danger navbar-btn navbar-right">登出</a>
                    {% else %}
                    {# plz login first #}
                    <!-- <p class="navbar-text">Not signed yet.</p> -->
                    <p class="navbar-text">您還未登入</p>
                    <!-- <a href="/loginhere" type="button" class="btn btn-info navbar-btn navbar-right">Log in Here!</a> -->
                    <a href="/loginhere" type="button" class="btn btn-info navbar-btn">登入</a>
                    {% endif %}
                </div>
            </nav>
            <hr>
            {% block hey %}
            <div>
                {{ issue }}
            </div>
            {% endblock %}
            <hr>
            <div>
                <a href="/admin" target="_blank">admin</a>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        {% block customjs %}
        {% endblock %}
    </body>
</html>
