{% extends "base.html" %}
{% block hey %}
<div class="home-wraper">
    {% for r in readit %}
    <div class="row-issue-list">
        <div class="media">
            <div class="media-left media-top">
                <a href="/issues/{{ r.id }}">
                    {% if r.status %}
                    <img class="media-object" src="/static/img/task/flat_icons-sign-check-128.png" width="36" height="36" alt="">
                    {% else %}
                    <img class="media-object" src="/static/img/task/flat_icons-graficheria.it-128.png" width="36" height="36" alt="">
                    {% endif %}
                </a>
            </div>
            <div class="media-body">
                <a href="/issues/{{ r.id }}" class="h3 issue-title-link">{{ r.title }}</a>
                <span class="labels">
                    {% for l in r.label %}
                        <a href="/?label={{l.id}}" class="btn" style="padding: 0;"><span style="border-radius: 5px; font-weight: bold; padding: 3px; background-color: #{{l.color}}; color: #{{l.fontcolor}};">{{ l }}</span></a>
                    {% endfor %}
                </span>
                <div class="issue-meta" style="color: #aaa">
                    #{{ r.id }} opened on {{ r.time|date:"Y/m/d H:i:s" }} by <u>{{r.opened_user}}</u>
                </div>
            </div>
            <div class="media-right media-middle">
                <span class="badge"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ r.howmanycomments }}</span>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
<div class="home-sidebar-wraper">
    <div style="margin-bottom: 20px;">
        <span class="h3" style="color: #777;" role="Labels">標籤</span>
    </div>
    {% for label in label_list %}
    <div class="list-group" style="box-shadow: none;">
        <a href="/?label={{label.id}}" class="list-group-item" style="padding: 0; background-color: inherit; border: 0;">
            <span style="border-radius: 5px; font-weight: bold; padding: 3px; background-color: #{{label.color}}; color: #{{label.fontcolor}};">{{ label }}</span>
        </a>
    </div>
    {% endfor %}
    
    <div>
        <a href="/" id="issue-all" class="btn-sm btn-default btn">全部</a>
        <a href="/?open" id="issue-open" class="btn-sm btn-default btn">進行中</a>
        <a href="/?closed" id="issue-closed" class="btn-sm btn-default btn">已結案</a>
    </div>
</div>
<div class="row"></div>
{% endblock %}
{% block customjs %}
    <script>
        $(window).load(function (){
            var mypath = $(location).attr('pathname') + $(location).attr('search');
            if (mypath === '/'){
                $("#issue-all").addClass("disabled");
            }
            else if (mypath === '/?open'){
                $("#issue-open").addClass("disabled");
            }
            else if (mypath === '/?closed'){
                $("#issue-closed").addClass("disabled");
            }

            // body...
        });
    </script>
{% endblock %}
