{% extends "base.html" %}
{% block hey %}
    {% for r in readit %}
    <div class="row-issue-list">
        <div class="media">
            <div class="media-left media-top">
                <a href="/issues/{{ r.id }}">
                    <img class="media-object" src="/static/img/task/flat_icons-graficheria.it-128.png" width="36" height="36" alt="">
                </a>
            </div>
            <div class="media-body">
                <a href="/issues/{{ r.id }}" class="h3 issue-title-link">{{ r.title }}</a>
                <span class="labels">
                    {% for l in r.label %}
                        <span style="border-radius: 5px; font-weight: bold; padding: 3px; background-color: #{{l.color}}; color: #{{l.fontcolor}};">{{ l }}</span>
                    {% endfor %}
                </span>
                <div class="issue-meta" style="color: #aaa">
                    #{{ r.id }} opened on {{ r.time|date:"Y/m/d H:i:s" }} by <u>user</u>
                </div>
            </div>
            <div class="media-right media-middle">
                <span class="badge"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ r.howmanycomments }}</span>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}

{% endblock %}
