{% extends "base.html" %}
{% block hey %}
    <div class="row">
        <div class="col-md-8">
            <h2>{{ issue_get.title }} <span style="color:#aaa">#{{ issue_get.id }}</span></h2>
        </div>
    </div>
    <div style="float: left;">
        <h4><span class="label label-success"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Open</span></h4>
    </div>
    <div><h4></h4>&nbsp;&nbsp;<a href="">noracami</a> opened this issue 3 days ago · 0 comments</div>
    <div class="row"></div>
    <hr>
    <div class="comment-wraper">
        <div class="row-message">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/60x60" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-heading container-fluid">
                            <h3 class="panel-title" style="float: left;"><a href=""><strong>noracami</strong></a> commented on 30 Jan</h3>
                            <span class="pull-right badge">Owner</span>
                        </div>
                        <div class="panel-body">
                            <i>No description provided.</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-message row-status">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/36x36" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="">
                                <img class="media-object" src="http://placehold.it/16x16" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href=""><strong>noracami</strong></a> referenced this issue on 2 Feb
                        </div>
                    </div>
                    <span>add pagination for public_order_admin #4</span>
                    <span class="label label-success pull-right"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Open</span>
                </div>
            </div>
        </div>
        <div class="row-message">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/60x60" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-heading container-fluid">
                            <h3 class="panel-title" style="float: left;"><a href=""><strong>noracami</strong></a> commented on 30 Jan</h3>
                            <span class="pull-right badge">Collaborator</span>
                        </div>
                        <div class="panel-body">
                            <i>No description provided.</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-message row-status">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/36x36" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="">
                                <img class="media-object" src="http://placehold.it/16x16" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href=""><strong>noracami</strong></a> referenced this issue on 2 Feb
                        </div>
                    </div>
                    <span>add pagination for public_order_admin #4</span>
                    <span class="label label-success pull-right"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Open</span>
                </div>
            </div>
        </div>
        <div class="row-message row-status">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/36x36" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="">
                                <img class="media-object" src="http://placehold.it/16x16" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href=""><strong>noracami</strong></a> referenced this issue on 2 Feb
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-message row-status">
            <div class="media">
                <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/36x36" alt="...">
                    </a>
                </div>
                <div class="media-body media-middle">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="">
                                <img class="media-object" src="http://placehold.it/16x16" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href=""><strong>noracami</strong></a> added the <span class="btn btn-info btn-xs">執法與宣導</span> label 4 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
